.calc{
    width: 20%;
    height: auto;
    margin-left: 40%;
    background-color: grey;
    border: solid black;
}
.output{
    margin: 5%;
}
#screen{
    width: 98%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
}
.buttons{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.button{
    width: 20%;
    border: 1px solid black;
}
.clear{
    width: 20%;
    margin-left: 80%;
    background: rgb(233, 69, 69);
}
.equal{
    background: rgb(82, 138, 82);
}